<!-- templates/login.html -->
{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <h2>جناب تسی کون او؟</h2>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('admin_login') }}">
        <div class="form-group">
            <label for="email">آپ کہاں رهتے ہیں</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit" class="btn">میں یہاں سے ہوں</button>
    </form>
</div>
{% endblock %}